body {
    background-color: #EDF2F8;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
    color: #6d7f97;
    z-index: 0;
}

/* CONTAINERS */

#main {
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    min-width: 50%;
    max-width: 1000px;
    height: auto;
    align-items: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    box-shadow: 2px 2px 10% #48556a;
    flex-basis: 0%;
}

.img {
    float: left;
    object-fit: cover;
    width: 32%;
    height: 100%;
}

.preview {
    float: left;
    background-color: #FFFFFF;
    border-radius: 0 0.5rem 0.5rem 0;
    z-index: 1;
    padding: 0.25rem;
    width: 60%;
}

.details {
    align-items: center;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
}


.author {
    width: 80%;
    display: inline-block;
    padding-left: 0.5rem;
}

.button {
    width: 10%;
    float: right;
}

.share-options {
    z-index: 10;
    width: 200px;
    height: auto;
    background-color: #48556a;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #9eafc2;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    top: 30%;
    left: 62%;
    position: absolute;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


/* TEXT */

h2 {
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #48556a;
}

b,
strong {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #48556a;
}


/* BUTTONS */
.share {
    background-color: #EDF2F8;
    border: none;
    color: #48556a;
    padding: 1rem;
    display: inline-block;
    border-radius: 50%;
    background-image: url('images/icon-share.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.share:hover,
.share:active {
    background-color: #6E809A;
    color: #fff;
    background-image: url('images/icon-share.svg');
    background-repeat: no-repeat;
    background-position: center;
}

/* IMAGES */
.thumbnail {
    width: 100%;
    height: fit-content;
    border-radius: 0.5rem 0 0 0.5rem;
    display: block;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .container {
        flex-direction: column;
        width: 50%;
    }

    .img {
        width: 300px;
    }


    .preview {
        width: 260px;
        border-radius: 0 0 0.5rem 0.5rem;
        padding: 20px;
    }

    .thumbnail {
        border-radius: 0.5rem 0.5rem 0 0;
        width: 300px;
    }

    .share-options {
        z-index: 10;
        width: 200px;
        height: auto;
        background-color: #48556a;
        padding: 1rem;
        border-radius: 0.5rem;
        color: #9eafc2;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        top: 62%;
        left: 45%;
        position: absolute;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .container {
            width: 100%;
            flex-direction: row;
        }
    
        .img {
            width: 40%;
        }
    
    
        .preview {
            width: 60%;
            border-radius: 0 0 0.5rem 0.5rem;
            padding: 20px;
        }
    
        .thumbnail {
            border-radius: 0.5rem 0.5rem 0 0;
            width: 300px;
        }
    
        .share-options {
            z-index: 10;
            width: 200px;
            height: auto;
            background-color: #48556a;
            padding: 1rem;
            border-radius: 0.5rem;
            color: #9eafc2;
            text-transform: uppercase;
            letter-spacing: 0.4rem;
            top: 62%;
            left: 45%;
            position: absolute;
            display: flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }
}

.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
